In [9]:
import torch
from torch import nn
from torch.utils.data import Dataset
# import gluonnlp as nlp
import numpy as np
# from kobert.pytorch_kobert import get_pytorch_kobert_model

In [10]:
import pandas as pd

In [12]:
pneg = pd.read_csv('./data/매우부정.csv')
pneg

        word word_root  polarity emotion
0         가난        가난        -2      불안
1       가난뱅이      가난뱅이        -2      불안
2       가난살이        가난        -2      불안
3     가난살이하다        가난        -2      불안
4       가난설음        가난        -2      불안
...      ...       ...       ...     ...
4792   골치아프다        골치        -2     NaN
4793  기진맥진하다      기진맥진        -2     NaN
4794     꼴불견       꼴불견        -2     NaN
4795   넌더리나다       넌더리        -2     NaN
4796    해괴하다        해괴        -2     NaN

[4797 rows x 4 columns]

In [15]:
pn = pneg.dropna()

In [16]:
pn = pn.drop(['polarity'], axis =1)

In [17]:
pn

         word word_root emotion
0          가난        가난      불안
1        가난뱅이      가난뱅이      불안
2        가난살이        가난      불안
3      가난살이하다        가난      불안
4        가난설음        가난      불안
...       ...       ...     ...
3200       악플         악      분노
3201      악하고         악      분노
3202  악하고 모질게      악 모질      분노
3203  악하고 모질다      악 모질      분노
3204   악하고 모짊      악 모질      분노

[3072 rows x 3 columns]

In [18]:
pn.to_excel('./data/매우부정_sample.xlsx', index=False)

In [24]:
pp = pd.read_excel('./data/매우긍정_sample.xlsx')
pp = pp.dropna()
pp = pp.drop(['polarity'], axis =1)
pp

           word word_root emotion
0     가능성이 늘어나다   가능성 늘어나      만족
1      가능성이 있다고     가능성 있      기쁨
2          가능하다        가능      편안
3      가볍고 상쾌하다     가볍 상쾌      기쁨
4       가볍고 상쾌한     가볍 상쾌      기쁨
...         ...       ...     ...
1663     은혜를 입음      은혜 입      감사
1664        은혜에        은혜      감사
1665   은혜에 보답하는     은혜 보답      감사
1666        은혜와        은혜      감사
1667    음식을 맛있게     음식 맛있      행복

[1668 rows x 3 columns]

In [33]:
p =pd.read_excel('./data/긍정_sample.xlsx')
p = p.dropna()
p = p.drop(['polarity'], axis =1)
p

        word word_root emotion
0        (-;         (      기쁨
1       (^^)      (^^)      기쁨
2      (^-^)     (^-^)      기쁨
3       (^^*         (      기쁨
4      (^_^)     (^_^)      기쁨
..       ...       ...     ...
916      선명한        선명      편안
917      선선한        선선      만족
918  선선한 느낌이     선선 느낌      흥미
919      선업을        선업      기쁨
920     선전하다        선전      만족

[723 rows x 3 columns]

In [32]:
n =pd.read_excel('./data/부정_sample.xlsx')
n = n.dropna()
n = n.drop(['polarity'], axis =1)
n

        word word_root emotion
0      (;_;)     (;_;)      슬픔
1      (^_^;         (      당황
2      (-_-)     (-_-)      불만
3      (T_T)     (T_T)      슬픔
4       (ㅡㅡ)         (      짜증
...      ...       ...     ...
1147   코웃음치다       코웃음      조롱
1148    감질나다        감질      짜증
1149   아리송하다       아리송      당황
1150    알쏭하다       알쏭하      당황
1151  알쏭달쏭하다      알쏭달쏭      당황

[1152 rows x 3 columns]

In [36]:
emotion = pd.concat([p, pp, n, pn],axis=0)
emotion

         word word_root emotion
0         (-;         (      기쁨
1        (^^)      (^^)      기쁨
2       (^-^)     (^-^)      기쁨
3        (^^*         (      기쁨
4       (^_^)     (^_^)      기쁨
...       ...       ...     ...
3200       악플         악      분노
3201      악하고         악      분노
3202  악하고 모질게      악 모질      분노
3203  악하고 모질다      악 모질      분노
3204   악하고 모짊      악 모질      분노

[6615 rows x 3 columns]

In [37]:
emotion.to_excel('./data/emotion_sample.xlsx', index=False)