In [1]:
import pandas as pd

## 긍정/부정 전처리

In [2]:
pp = pd.read_excel('./data/매우긍정.xlsx')
pp

           word word_root  polarity emotion
0     가능성이 늘어나다   가능성 늘어나         2      만족
1      가능성이 있다고     가능성 있         2      기쁨
2          가능하다        가능         2      편안
3      가볍고 상쾌하다     가볍 상쾌         2      기쁨
4       가볍고 상쾌한     가볍 상쾌         2      기쁨
...         ...       ...       ...     ...
2551        원더풀         원         2      만족
2552         쾌적        쾌적         2      편안
2553        쾌적한        쾌적         2      편안
2554       쾌적하다        쾌적         2      편안
2555       함박웃음        함박         2      기쁨

[2556 rows x 4 columns]

In [60]:
pn = pd.read_csv('./data/매우부정.csv')
pn

        word word_root  polarity emotion
0         가난        가난        -2      불안
1       가난뱅이      가난뱅이        -2      불안
2       가난살이        가난        -2      불안
3     가난살이하다        가난        -2      불안
4       가난설음        가난        -2      불안
...      ...       ...       ...     ...
4790   골치아프다        골치        -2      불편
4791  기진맥진하다      기진맥진        -2     허무함
4792     꼴불견       꼴불견        -2      짜증
4793   넌더리나다       넌더리        -2      짜증
4794    해괴하다        해괴        -2      불편

[4795 rows x 4 columns]

### value 확인 및 null 처리

In [4]:
pp['emotion'].unique()

array(['만족', '기쁨', '편안', '행복', '흥미', '감사'], dtype=object)

In [5]:
ppos = pp.drop(['polarity'], axis =1)
ppos

           word word_root emotion
0     가능성이 늘어나다   가능성 늘어나      만족
1      가능성이 있다고     가능성 있      기쁨
2          가능하다        가능      편안
3      가볍고 상쾌하다     가볍 상쾌      기쁨
4       가볍고 상쾌한     가볍 상쾌      기쁨
...         ...       ...     ...
2551        원더풀         원      만족
2552         쾌적        쾌적      편안
2553        쾌적한        쾌적      편안
2554       쾌적하다        쾌적      편안
2555       함박웃음        함박      기쁨

[2556 rows x 3 columns]

In [61]:
# emotion vlaue 값 확인
pn['emotion'].unique()

array(['불안', '짜증', '슬픔', '상처', '허무함', '분노', '당황', '불만', '불편', '걱정', '답답',
       '조롱', nan, '무서움', '기쁨', '감사', '만족', '편안', '흥미'], dtype=object)

In [7]:
# null 값 삭제
pneg = pn.dropna()

In [9]:
# polarity 컬럼 삭제
pneg = pneg.drop(['polarity'], axis =1)
pneg

        word word_root emotion
0         가난        가난      불안
1       가난뱅이      가난뱅이      불안
2       가난살이        가난      불안
3     가난살이하다        가난      불안
4       가난설음        가난      불안
...      ...       ...     ...
4790   골치아프다        골치      불편
4791  기진맥진하다      기진맥진     허무함
4792     꼴불견       꼴불견      짜증
4793   넌더리나다       넌더리      짜증
4794    해괴하다        해괴      불편

[4555 rows x 3 columns]

## 데이터프레임 합치고 값 부여

In [10]:
ppn = pd.concat([ppos, pneg], axis=0)
ppn

           word word_root emotion
0     가능성이 늘어나다   가능성 늘어나      만족
1      가능성이 있다고     가능성 있      기쁨
2          가능하다        가능      편안
3      가볍고 상쾌하다     가볍 상쾌      기쁨
4       가볍고 상쾌한     가볍 상쾌      기쁨
...         ...       ...     ...
4790      골치아프다        골치      불편
4791     기진맥진하다      기진맥진     허무함
4792        꼴불견       꼴불견      짜증
4793      넌더리나다       넌더리      짜증
4794       해괴하다        해괴      불편

[7111 rows x 3 columns]

In [11]:
# index 재설정
ppn = ppn.reset_index(drop=True)

In [12]:
# emotion 값 리스트로 만들기
list = []
for i in ppn['emotion']:
    list.append(i)

In [13]:
# list 값 확인하며 고유값 부여
emo_num = []

for i in range(0,len(list)):
    if list[i] == '분노' :
        emo_num.append(6)
    elif list[i] == '슬픔':
        emo_num.append(7)
    elif list[i] == '당황':
        emo_num.append(8)
    elif list[i] == '상처':
        emo_num.append(9)
    elif list[i] == '불안':
        emo_num.append(10)
    elif list[i] == '짜증':
        emo_num.append(11)
    elif list[i] == '답답':
        emo_num.append(12)
    elif list[i] == '허무함':
        emo_num.append(13)
    elif list[i] == '조롱':
        emo_num.append(14)
    elif list[i] == '불편':
        emo_num.append(15)
    elif list[i] == '걱정':
        emo_num.append(16)
    elif list[i] == '불만':
        emo_num.append(17)
    elif list[i] == '무서움':
        emo_num.append(18)
    elif list[i] == '편안':
        emo_num.append(0)
    elif list[i] == '기쁨':
        emo_num.append(1)
    elif list[i] == '행복':
        emo_num.append(2)
    elif list[i] == '감사':
        emo_num.append(3)
    elif list[i] == '만족':
        emo_num.append(4)
    elif list[i] == '흥미':
        emo_num.append(5)
    else :
        pass

In [14]:
emo_num = pd.DataFrame(emo_num)
emo_num

       0
0      4
1      1
2      0
3      1
4      1
...   ..
7106  15
7107  13
7108  11
7109  11
7110  15

[7111 rows x 1 columns]

In [15]:
df = pd.concat([ppn, emo_num], axis=1)

In [16]:
# 컬럼명 재설정
df.columns=['word','word_root','emotion','emo_num']

In [17]:
df

           word word_root emotion  emo_num
0     가능성이 늘어나다   가능성 늘어나      만족        4
1      가능성이 있다고     가능성 있      기쁨        1
2          가능하다        가능      편안        0
3      가볍고 상쾌하다     가볍 상쾌      기쁨        1
4       가볍고 상쾌한     가볍 상쾌      기쁨        1
...         ...       ...     ...      ...
7106      골치아프다        골치      불편       15
7107     기진맥진하다      기진맥진     허무함       13
7108        꼴불견       꼴불견      짜증       11
7109      넌더리나다       넌더리      짜증       11
7110       해괴하다        해괴      불편       15

[7111 rows x 4 columns]

In [18]:
# 파일저장
df.to_excel('./data/매우긍정_매우부정.xlsx', index=False)

In [67]:
p = pd.read_excel('./data/긍정_최종.xlsx')
p

        word word_root  polarity emotion
0        (-;         (         1      기쁨
1       (^^)      (^^)         1      기쁨
2      (^-^)     (^-^)         1      기쁨
3       (^^*         (         1      기쁨
4      (^_^)     (^_^)         1      기쁨
...      ...       ...       ...     ...
2214   속시원하다         속         1      기쁨
2215    신명나다        신명         1      기쁨
2216   신바람나다       신바람         1      기쁨
2217  천만다행이다      천만다행         1      기쁨
2218    신비롭다        신비         1      흥미

[2219 rows x 4 columns]

In [68]:
p['emotion'].unique()

array(['기쁨', '행복', '짜증', '슬픔', '당황', '걱정', '답답', nan, '편안', '흥미', '보통',
       '감사', '만족', '불만', '분노', '조롱', '불편', '불안'], dtype=object)

In [69]:
p = p.dropna()
p

        word word_root  polarity emotion
0        (-;         (         1      기쁨
1       (^^)      (^^)         1      기쁨
2      (^-^)     (^-^)         1      기쁨
3       (^^*         (         1      기쁨
4      (^_^)     (^_^)         1      기쁨
...      ...       ...       ...     ...
2214   속시원하다         속         1      기쁨
2215    신명나다        신명         1      기쁨
2216   신바람나다       신바람         1      기쁨
2217  천만다행이다      천만다행         1      기쁨
2218    신비롭다        신비         1      흥미

[2169 rows x 4 columns]

In [70]:
p = p.reset_index(drop=True)

In [71]:
p['emotion'].unique()

array(['기쁨', '행복', '짜증', '슬픔', '당황', '걱정', '답답', '편안', '흥미', '보통', '감사',
       '만족', '불만', '분노', '조롱', '불편', '불안'], dtype=object)

In [72]:
list = []
for i in p['emotion']:
    list.append(i)

In [73]:
emo_num = []

for i in range(0,len(list)):
    if list[i] == '분노' :
        emo_num.append(6)
    elif list[i] == '슬픔':
        emo_num.append(7)
    elif list[i] == '당황':
        emo_num.append(8)
    elif list[i] == '상처':
        emo_num.append(9)
    elif list[i] == '불안':
        emo_num.append(10)
    elif list[i] == '짜증':
        emo_num.append(11)
    elif list[i] == '답답':
        emo_num.append(12)
    elif list[i] == '허무함':
        emo_num.append(13)
    elif list[i] == '조롱':
        emo_num.append(14)
    elif list[i] == '불편':
        emo_num.append(15)
    elif list[i] == '걱정':
        emo_num.append(16)
    elif list[i] == '불만':
        emo_num.append(17)
    elif list[i] == '무서움':
        emo_num.append(18)
    elif list[i] == '편안':
        emo_num.append(0)
    elif list[i] == '기쁨':
        emo_num.append(1)
    elif list[i] == '행복':
        emo_num.append(2)
    elif list[i] == '감사':
        emo_num.append(3)
    elif list[i] == '만족':
        emo_num.append(4)
    elif list[i] == '흥미':
        emo_num.append(5)
    elif list[i] == '보통':
        emo_num.append(19)
    else :
        pass

In [74]:
len(emo_num)

2169

In [75]:
emo_num = pd.DataFrame(emo_num)
emo_num

      0
0     1
1     1
2     1
3     1
4     1
...  ..
2164  1
2165  1
2166  1
2167  1
2168  5

[2169 rows x 1 columns]

In [42]:
p['emo_num'] = pd.DataFrame(emo_num)

C:\Users\admin\AppData\Local\Temp\ipykernel_9972\3568309073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['emo_num'] = pd.DataFrame(emo_num)

In [82]:
df = pd.concat([p, emo_num], axis=1)

In [85]:
df = df.drop(['polarity'], axis =1)

In [84]:
df

        word word_root emotion  0
0        (-;         (      기쁨  1
1       (^^)      (^^)      기쁨  1
2      (^-^)     (^-^)      기쁨  1
3       (^^*         (      기쁨  1
4      (^_^)     (^_^)      기쁨  1
...      ...       ...     ... ..
2164   속시원하다         속      기쁨  1
2165    신명나다        신명      기쁨  1
2166   신바람나다       신바람      기쁨  1
2167  천만다행이다      천만다행      기쁨  1
2168    신비롭다        신비      흥미  5

[2169 rows x 4 columns]

In [86]:
df.columns=['word','word_root','emotion','emo_num']

In [87]:
df

        word word_root emotion  emo_num
0        (-;         (      기쁨        1
1       (^^)      (^^)      기쁨        1
2      (^-^)     (^-^)      기쁨        1
3       (^^*         (      기쁨        1
4      (^_^)     (^_^)      기쁨        1
...      ...       ...     ...      ...
2164   속시원하다         속      기쁨        1
2165    신명나다        신명      기쁨        1
2166   신바람나다       신바람      기쁨        1
2167  천만다행이다      천만다행      기쁨        1
2168    신비롭다        신비      흥미        5

[2169 rows x 4 columns]

In [97]:
n = pd.read_excel('./data/부정_최종.xlsx')
n

        word word_root  polarity emotion
0      (;_;)     (;_;)        -1      슬픔
1      (^_^;         (        -1      당황
2      (-_-)     (-_-)        -1      불만
3      (T_T)     (T_T)        -1      슬픔
4       (ㅡㅡ)         (        -1      짜증
...      ...       ...       ...     ...
4548   코웃음치다       코웃음        -1      조롱
4549    감질나다        감질        -1      짜증
4550   아리송하다       아리송        -1      당황
4551    알쏭하다       알쏭하        -1      당황
4552  알쏭달쏭하다      알쏭달쏭        -1      당황

[4553 rows x 4 columns]

In [99]:
n = n.drop(['polarity'], axis=1)
n

        word word_root emotion
0      (;_;)     (;_;)      슬픔
1      (^_^;         (      당황
2      (-_-)     (-_-)      불만
3      (T_T)     (T_T)      슬픔
4       (ㅡㅡ)         (      짜증
...      ...       ...     ...
4548   코웃음치다       코웃음      조롱
4549    감질나다        감질      짜증
4550   아리송하다       아리송      당황
4551    알쏭하다       알쏭하      당황
4552  알쏭달쏭하다      알쏭달쏭      당황

[4553 rows x 3 columns]

In [100]:
n= n.dropna()

In [101]:
n['emotion'].unique()

array(['슬픔', '당황', '불만', '짜증', '상처', '기쁨', '조롱', '걱정', '불편', '답답', '불안',
       '분노', '무서움', '허무함', '보통', '만족', '흥미'], dtype=object)

In [106]:
len(n)

3959

In [104]:
list = []
for i in n['emotion']:
    list.append(i)
    

emo_num = []

for i in range(0,len(list)):
    if list[i] == '분노' :
        emo_num.append(6)
    elif list[i] == '슬픔':
        emo_num.append(7)
    elif list[i] == '당황':
        emo_num.append(8)
    elif list[i] == '상처':
        emo_num.append(9)
    elif list[i] == '불안':
        emo_num.append(10)
    elif list[i] == '짜증':
        emo_num.append(11)
    elif list[i] == '답답':
        emo_num.append(12)
    elif list[i] == '허무함':
        emo_num.append(13)
    elif list[i] == '조롱':
        emo_num.append(14)
    elif list[i] == '불편':
        emo_num.append(15)
    elif list[i] == '걱정':
        emo_num.append(16)
    elif list[i] == '불만':
        emo_num.append(17)
    elif list[i] == '무서움':
        emo_num.append(18)
    elif list[i] == '편안':
        emo_num.append(0)
    elif list[i] == '기쁨':
        emo_num.append(1)
    elif list[i] == '행복':
        emo_num.append(2)
    elif list[i] == '감사':
        emo_num.append(3)
    elif list[i] == '만족':
        emo_num.append(4)
    elif list[i] == '흥미':
        emo_num.append(5)
    elif list[i] == '보통':
        emo_num.append(19)
    else :
        pass

In [105]:
len(emo_num)

3959

In [107]:
n = n.reset_index(drop=True)

In [108]:
n['emo_num'] = pd.DataFrame(emo_num)

In [109]:
n

        word word_root emotion  emo_num
0      (;_;)     (;_;)      슬픔        7
1      (^_^;         (      당황        8
2      (-_-)     (-_-)      불만       17
3      (T_T)     (T_T)      슬픔        7
4       (ㅡㅡ)         (      짜증       11
...      ...       ...     ...      ...
3954   코웃음치다       코웃음      조롱       14
3955    감질나다        감질      짜증       11
3956   아리송하다       아리송      당황        8
3957    알쏭하다       알쏭하      당황        8
3958  알쏭달쏭하다      알쏭달쏭      당황        8

[3959 rows x 4 columns]

In [111]:
data = pd.read_excel('./data/매우긍정_매우부정.xlsx')

In [113]:
dic = pd.concat([data,df,n], axis=0)
dic

           word word_root emotion  emo_num
0     가능성이 늘어나다   가능성 늘어나      만족        4
1      가능성이 있다고     가능성 있      기쁨        1
2          가능하다        가능      편안        0
3      가볍고 상쾌하다     가볍 상쾌      기쁨        1
4       가볍고 상쾌한     가볍 상쾌      기쁨        1
...         ...       ...     ...      ...
3954      코웃음치다       코웃음      조롱       14
3955       감질나다        감질      짜증       11
3956      아리송하다       아리송      당황        8
3957       알쏭하다       알쏭하      당황        8
3958     알쏭달쏭하다      알쏭달쏭      당황        8

[13239 rows x 4 columns]

In [115]:
dic['emo_num'].unique()

array([ 4,  1,  0,  2,  5,  3, 10, 11,  7,  9, 13,  6,  8, 17, 15, 16, 12,
       14, 18, 19], dtype=int64)

In [116]:
dic.to_excel('./data/감성사전_최종.xlsx', index=False)

## 부정 일상문 전처리

In [2]:
df = pd.read_excel('./data/감성사전_최종.xlsx')
df

            word word_root emotion  emo_num
0      가능성이 늘어나다   가능성 늘어나      만족        4
1       가능성이 있다고     가능성 있      기쁨        1
2           가능하다        가능      편안        0
3       가볍고 상쾌하다     가볍 상쾌      기쁨        1
4        가볍고 상쾌한     가볍 상쾌      기쁨        1
...          ...       ...     ...      ...
13234      코웃음치다       코웃음      조롱       14
13235       감질나다        감질      짜증       11
13236      아리송하다       아리송      당황        8
13237       알쏭하다       알쏭하      당황        8
13238     알쏭달쏭하다      알쏭달쏭      당황        8

[13239 rows x 4 columns]

In [4]:
df = df.drop(['word_root'], axis=1)
df

            word emotion  emo_num
0      가능성이 늘어나다      만족        4
1       가능성이 있다고      기쁨        1
2           가능하다      편안        0
3       가볍고 상쾌하다      기쁨        1
4        가볍고 상쾌한      기쁨        1
...          ...     ...      ...
13234      코웃음치다      조롱       14
13235       감질나다      짜증       11
13236      아리송하다      당황        8
13237       알쏭하다      당황        8
13238     알쏭달쏭하다      당황        8

[13239 rows x 3 columns]

In [12]:
nc = pd.read_excel('./data/부정_일상문.xlsx')
nc

                                   0  감정_int emotion
0           언니 동생으로 부르는게 맞는 일인가요..??       0      당황
1                       그냥 내 느낌일뿐겠지?       0      걱정
2                     아직너무초기라서 그런거죠?       0      걱정
3                      유치원버스 사고 낫다던데       0      걱정
4                        근데 원래이런거맞나요       0      불안
...                              ...     ...     ...
6950  그러니일본놈들이한국사람을더우습게알고함부로대하는거아닌가?       0      불만
6951        위증은 무쟈껀 제자리 화형으로 다스려야 함.       0      분노
6952                짱개와는 연을 끊는게 상책이다       0      분노
6953                탄핵을 외친자들에게 물어보라!       0     NaN
6954               그리고 1원하나 챙긴게 없다고?       0      짜증

[6955 rows x 3 columns]

In [13]:
nc['emotion'].unique()

array(['당황', '걱정', '불안', '궁금', '슬픔', '답답', '불만', '불편', '무서움', '짜증', '조롱',
       '보통', '허무함', '만족', '분노', '편안', '상처', '행복', '흥미', '감사', nan],
      dtype=object)

In [14]:
dfnc = nc.dropna()

In [18]:
dfnc = dfnc.reset_index(drop=True)
dfnc

                                              0  감정_int emotion
0                      언니 동생으로 부르는게 맞는 일인가요..??       0      당황
1                                  그냥 내 느낌일뿐겠지?       0      걱정
2                                아직너무초기라서 그런거죠?       0      걱정
3                                 유치원버스 사고 낫다던데       0      걱정
4                                   근데 원래이런거맞나요       0      불안
...                                         ...     ...     ...
6818  새해는 직무정지되서 꼴깝떠는거 안볼 줄알았더만 18연초부터 드럽게 재수없네       0      짜증
6819             그러니일본놈들이한국사람을더우습게알고함부로대하는거아닌가?       0      불만
6820                   위증은 무쟈껀 제자리 화형으로 다스려야 함.       0      분노
6821                           짱개와는 연을 끊는게 상책이다       0      분노
6822                          그리고 1원하나 챙긴게 없다고?       0      짜증

[6823 rows x 3 columns]

In [19]:
dfnc = dfnc.drop(['감정_int'], axis=1)
dfnc

                                              0 emotion
0                      언니 동생으로 부르는게 맞는 일인가요..??      당황
1                                  그냥 내 느낌일뿐겠지?      걱정
2                                아직너무초기라서 그런거죠?      걱정
3                                 유치원버스 사고 낫다던데      걱정
4                                   근데 원래이런거맞나요      불안
...                                         ...     ...
6818  새해는 직무정지되서 꼴깝떠는거 안볼 줄알았더만 18연초부터 드럽게 재수없네      짜증
6819             그러니일본놈들이한국사람을더우습게알고함부로대하는거아닌가?      불만
6820                   위증은 무쟈껀 제자리 화형으로 다스려야 함.      분노
6821                           짱개와는 연을 끊는게 상책이다      분노
6822                          그리고 1원하나 챙긴게 없다고?      짜증

[6823 rows x 2 columns]

## 긍정 일상문 전처리

In [32]:
pc = pd.read_excel('./data/긍정_일상문.xlsx')
pc

                                                     발화  emo_num emotion
0                                    유재석 오라버니 해피투게더 봤어요        1      흥미
1                   우리모두 준혁이성과 LG선수들이 선전할수 있게 기를 넣어줍시다.        1      기쁨
2                                        웃긴거 알죠?~ㅋㅋㅇ ㅏ~        1      기쁨
3                                덕분에 주방에서 요리하는게 넘 좋아졌어요        1      감사
4            마지막 순간 손가락으로 총을 만들어 쏘실때에는 제가 직접 맞는 것 같습니다.        1      감사
...                                                 ...      ...     ...
7040                                  봐봐, 이거 너무 복실복실하지?        1      편안
7041  하긴 남자애니까. 별로 관심 없으려나? 그래도 여기 남성 의류 말야, 평판이 꽤 좋...        1      만족
7042                  이럴 땐 진짜 질색하는 표정이 된다니깐. 감탄스럽기까지 해.        1      불만
7043  너무 대놓고 그러면 역효과잖니? 난 지금 이대로면 충분한걸. ……하긴, 옛날엔 페어...        1      만족
7044       고맙긴요. 제가 할 수 있는 건 이 정도가 전부인걸요. 선배님, 부디 힘내세요.        1      걱정

[7045 rows x 3 columns]

In [31]:
pc['Unnamed: 2'].value_counts()

기쁨     1701
만족     1510
감사     1328
흥미      913
보통      703
행복      267
편안      188
조롱      129
궁금      114
걱정       50
답답       30
당황       26
슬픔       19
불만       18
불편       10
짜증       10
허무함       9
분노        8
무서움       2
불안        2
상처        2
Name: Unnamed: 2, dtype: int64

In [33]:
dfpc = pc.drop(['emo_num'], axis=1)
dfpc

                                                     발화 emotion
0                                    유재석 오라버니 해피투게더 봤어요      흥미
1                   우리모두 준혁이성과 LG선수들이 선전할수 있게 기를 넣어줍시다.      기쁨
2                                        웃긴거 알죠?~ㅋㅋㅇ ㅏ~      기쁨
3                                덕분에 주방에서 요리하는게 넘 좋아졌어요      감사
4            마지막 순간 손가락으로 총을 만들어 쏘실때에는 제가 직접 맞는 것 같습니다.      감사
...                                                 ...     ...
7040                                  봐봐, 이거 너무 복실복실하지?      편안
7041  하긴 남자애니까. 별로 관심 없으려나? 그래도 여기 남성 의류 말야, 평판이 꽤 좋...      만족
7042                  이럴 땐 진짜 질색하는 표정이 된다니깐. 감탄스럽기까지 해.      불만
7043  너무 대놓고 그러면 역효과잖니? 난 지금 이대로면 충분한걸. ……하긴, 옛날엔 페어...      만족
7044       고맙긴요. 제가 할 수 있는 건 이 정도가 전부인걸요. 선배님, 부디 힘내세요.      걱정

[7045 rows x 2 columns]

In [35]:
dfnc.columns = ['word','emotion']

In [37]:
dfpc.columns = ['word','emotion']

### 긍부정 일상문 합치고 전처리

In [42]:
DF = pd.concat([dfpc,dfnc])
DF = DF.reset_index(drop=True)
DF

                                               word emotion
0                                유재석 오라버니 해피투게더 봤어요      흥미
1               우리모두 준혁이성과 LG선수들이 선전할수 있게 기를 넣어줍시다.      기쁨
2                                    웃긴거 알죠?~ㅋㅋㅇ ㅏ~      기쁨
3                            덕분에 주방에서 요리하는게 넘 좋아졌어요      감사
4        마지막 순간 손가락으로 총을 만들어 쏘실때에는 제가 직접 맞는 것 같습니다.      감사
...                                             ...     ...
13863     새해는 직무정지되서 꼴깝떠는거 안볼 줄알았더만 18연초부터 드럽게 재수없네      짜증
13864                그러니일본놈들이한국사람을더우습게알고함부로대하는거아닌가?      불만
13865                      위증은 무쟈껀 제자리 화형으로 다스려야 함.      분노
13866                              짱개와는 연을 끊는게 상책이다      분노
13867                             그리고 1원하나 챙긴게 없다고?      짜증

[13868 rows x 2 columns]

In [51]:
# emotion 값에 따라 값 부여
list = []
for i in DF['emotion']:
    list.append(i)
    
    
emo_num = []

for i in range(0,len(list)):
    if list[i] == '분노' :
        emo_num.append(6)
    elif list[i] == '슬픔':
        emo_num.append(7)
    elif list[i] == '당황':
        emo_num.append(8)
    elif list[i] == '상처':
        emo_num.append(9)
    elif list[i] == '불안':
        emo_num.append(10)
    elif list[i] == '짜증':
        emo_num.append(11)
    elif list[i] == '답답':
        emo_num.append(12)
    elif list[i] == '허무함':
        emo_num.append(13)
    elif list[i] == '조롱':
        emo_num.append(14)
    elif list[i] == '불편':
        emo_num.append(15)
    elif list[i] == '걱정':
        emo_num.append(16)
    elif list[i] == '불만':
        emo_num.append(17)
    elif list[i] == '무서움':
        emo_num.append(18)
    elif list[i] == '편안':
        emo_num.append(0)
    elif list[i] == '기쁨':
        emo_num.append(1)
    elif list[i] == '행복':
        emo_num.append(2)
    elif list[i] == '감사':
        emo_num.append(3)
    elif list[i] == '만족':
        emo_num.append(4)
    elif list[i] == '흥미':
        emo_num.append(5)
    elif list[i] == '보통':
        emo_num.append(19)
    else :
        emo_num.append(20)

In [53]:
DF['emo_num'] = pd.DataFrame(emo_num)
DF

                                               word emotion  emo_num
0                                유재석 오라버니 해피투게더 봤어요      흥미        5
1               우리모두 준혁이성과 LG선수들이 선전할수 있게 기를 넣어줍시다.      기쁨        1
2                                    웃긴거 알죠?~ㅋㅋㅇ ㅏ~      기쁨        1
3                            덕분에 주방에서 요리하는게 넘 좋아졌어요      감사        3
4        마지막 순간 손가락으로 총을 만들어 쏘실때에는 제가 직접 맞는 것 같습니다.      감사        3
...                                             ...     ...      ...
13863     새해는 직무정지되서 꼴깝떠는거 안볼 줄알았더만 18연초부터 드럽게 재수없네      짜증       11
13864                그러니일본놈들이한국사람을더우습게알고함부로대하는거아닌가?      불만       17
13865                      위증은 무쟈껀 제자리 화형으로 다스려야 함.      분노        6
13866                              짱개와는 연을 끊는게 상책이다      분노        6
13867                             그리고 1원하나 챙긴게 없다고?      짜증       11

[13868 rows x 3 columns]

In [55]:
final = pd.concat([df, DF])
final = final.reset_index(drop=True)
final

                                            word emotion  emo_num
0                                      가능성이 늘어나다      만족        4
1                                       가능성이 있다고      기쁨        1
2                                           가능하다      편안        0
3                                       가볍고 상쾌하다      기쁨        1
4                                        가볍고 상쾌한      기쁨        1
...                                          ...     ...      ...
27102  새해는 직무정지되서 꼴깝떠는거 안볼 줄알았더만 18연초부터 드럽게 재수없네      짜증       11
27103             그러니일본놈들이한국사람을더우습게알고함부로대하는거아닌가?      불만       17
27104                   위증은 무쟈껀 제자리 화형으로 다스려야 함.      분노        6
27105                           짱개와는 연을 끊는게 상책이다      분노        6
27106                          그리고 1원하나 챙긴게 없다고?      짜증       11

[27107 rows x 3 columns]

In [57]:
final.to_excel('./data/최종감성사전.xlsx', index=False)

In [58]:
final['emotion'].value_counts()

만족     2785
걱정     2678
기쁨     2458
불만     1918
감사     1756
보통     1556
짜증     1536
편안     1482
궁금     1416
분노     1368
흥미     1284
불편     1203
불안     1083
무서움     918
답답      876
조롱      734
행복      673
슬픔      513
당황      421
상처      253
허무함     190
Name: emotion, dtype: int64

In [1]:
import pandas as pd

In [5]:
k = pd.read_excel('./data/최종감성사전.xlsx')
k = k.dropna()
k['emotion'].count()

27101

In [6]:
k.to_excel('./data/최종감성사전.xlsx', index=False)